/* common utilities */
*{  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(217, 218, 218);
}

.container-reducer{
    width: 80%;
    margin: auto;
}

/* header propeties */
header>img{
    vertical-align: middle;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 1rem 0rem 1rem 2rem;
    margin-bottom: 1rem ;
}
header>h1{
    vertical-align: middle;
    display: inline-block;
    
}



/* main propeties */

main{
    /* background-color: rgb(255, 255, 255); */
    
}

.unordered-list{
    list-style-type: none;
}

/* buttons main propeties */

.top-buttons-section{
    background-color: rgb(255, 255, 255);
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    border-radius: 10px 10px 0 0;

}
.button{
    border: 0px;
    border-radius: 8px;
    padding: 0.4rem 0.8rem;

}
.blue.button {
    border: 3px solid;
    border-color: rgb(89, 179, 252);
    background-color: rgb(89, 179, 252);
    color: white;
}

.white.button{
    border: 3px solid;
    background-color: white;
    border-color: rgb(214, 214, 214);
    color: rgb(135, 134, 134);
    
}

#small-hr{
    border: 1px solid;
    border-color: rgb(214, 214, 214);
   
}


/* -------------------------------- */
/* task prop */
.task-section{
    padding-left: 3rem;
    background-color: rgb(255, 255, 255);
    
}
.checkmark{
    display:inline-block;
    color: rgb(13, 200, 48);
    font-size: 0.8rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;

    border: 2px solid;
    line-height: 1.1rem;
    text-align: center;
    
}
.xmark{
    display:inline-block;
    color: rgb(251, 8, 8);
    font-size: 0.8rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;

    border: 2px solid;
    line-height: 1.1rem;
    text-align: center;

}
.task{
    vertical-align: middle;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.task-text{
    padding-left: 1rem;
}
.task-section{
    padding: 3rem;
}
/*  icon propeties*/

.icon{
    color: white;
    font-size: 0.7rem;
    vertical-align: middle;
    border: 0px;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
}
 .editorial.icon{
        background-color: rgb(89, 179, 252) ;
 }


.goals.icon{
    background-color: rgb(176, 73, 231) ;
}

.recruiting.icon{
    background-color: rgb(9, 173, 135) ; 
}

.mobile.icon{
    background-color: rgb(224, 119, 15) ;
}


.website.icon{
    background-color: rgb(194, 48, 199) ;
}

.sales.icon{
    background-color: rgb(175, 219, 13) ;
}
/* end icon prop */